#header {
    display: flex; 
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 25px;
    background: rgb(62, 102, 69);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(181, 220, 178);
    font-size: 28px;
    border-radius: 5px;

    animation-name: colorswitch;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite
}

#flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#flex div{
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
    color: rgb(44, 32, 4)
}
.item {
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.extra {
    width: 200px;
}

#head {
    text-align: center;
}

img{
    transition: 1.5s;
}
/* hover */
img:hover{
    background-color: rgb(187, 153, 127);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    height: 220px;
}

h2{
    transition: 1s
}

h2:hover{
    background-color: rgb(119, 91, 67);
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}

@keyframes colorswitch{
    from {background-color: rgb(62, 102, 69);}
    to {background-color:rgb(181, 220, 178)}
    from {color: rgb(181, 220, 178);}
    to {color: rgb(62, 102, 69);}
}   